# Node
**/node_modules
**/.next
apps/video/out

# Python
**/.venv
**/venv
**/__pycache__
**/*.pyc

# Env
**/.env
**/.env.local

# DB and misc
**/*.db
.DS_Store

# Terraform
**/.terraform
**/*.tfstate
**/*.tfstate.*
infra/terraform/gcp/terraform.tfvars
